[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
selenium = "*"
tchappui-webdrivers = "*"

[packages]
django = "*"
requests = "*"
django-heroku = "*"
gunicorn = "*"
psycopg2 = "*"
psycopg2-binary = "*"
markdown = "*"
django-crispy-forms = "*"
django-favicon = "*"
selenium = "*"
coverage = "*"
sentry-sdk = "*"
python-dotenv-run = "*"
django-extensions = "*"

[requires]
